<section class="section">
  <div class="container container--column">
    <form action="#" class="modal-form">
      <h3 class="modal-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
      <div class="form-field">
        <input
          type="text"
          class="contact-form__input"
          name="user-name"
          placeholder=" "
          pattern="[a-zA-Za-яА-Я]+"
          title="Ім'я повинно містити символи кирилиці або латиниці"
          required
          minlength="2"
          id="name"
        />
        <label for="name" class="contact-form">Ім’я </label>
      </div>

      <div class="form-field">
        <input type="email" class="contact-form__input" name="user-mail" placeholder=" " required />
        <label class="contact-form">email</label>
      </div>
      <div class="form-field form-field__contact-form">
        <label class="contact-form contact-form__field-message"
          >Повідомлення
          <textarea
            name="user-message"
            class="contact-form__message"
            placeholder="Залишіть своє повідомлення"
            style="resize: none"
          ></textarea>
          <label for="clip">
            <input type="file" id="clip" hidden />
            <svg class="contact-form__message-icon">
              <use href="./images/icons.svg#icon-clip"></use>
            </svg>
          </label>
        </label>
      </div>
      <p class="contact-form__note">Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>

      <button class="button--order button-base button-contact" type="submit">ВІДПРАВИТИ</button>
    </form>
  </div>
</section>
