<section class="section contact-section">
  <div class="container container--bg-hero">
    <include src="./partials/pages/bg-blocks/bg-blocks__pages.html"></include>
    <h2 class="contact-subtitle">КОНТАКТИ</h2>
    <div class="contact-section__wrapper">
      <div class="contact-section__left">
        <iframe
          class="iframe-video"
          width="280"
          height="171"
          src="https://www.youtube.com/embed/_7t1gaC-AEw?modestbranding=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          ><p>Твой браузер устарел для отображения элемента iframe</p>
        </iframe>
      </div>

      <div class="contact-section__right">
        <p class="contact-section__description">
          Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
          процесом не на десяток хвилин.
        </p>

        <p class="contact-section__description">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
          друку і просто помилуватися красою цього процесу.
        </p>

        <p class="contact-section__description--emoji">Приємного перегляду!</p>
      </div>
    </div>
  </div>
</section>
