<section class="section">
  <div class="container gallery__container">
    <h2 class="gallery__heading">Галерея</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/methods_desktop.webp    1x,
              ./images/gallery/methods_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/methods_desktop.jpg    1x,
              ./images/gallery/methods_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/methods_tablet.webp    1x,
              ./images/gallery/methods_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/methods_tablet.jpg    1x,
              ./images/gallery/methods_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/methods_phone.webp    1x,
              ./images/gallery/methods_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/gallery/methods_phone.jpg 1x, ./images/gallery/methods_phone@2x.jpg 2x"
          />
          <img src="./images/gallery/methods_desktop.jpg" alt="" class="gallery__img" />
        </picture>
        <p class="gallery__desc">Інженерні методи аналізу та контролю якості</p>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/scanning_desktop.webp    1x,
              ./images/gallery/scanning_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/scanning_desktop.jpg    1x,
              ./images/gallery/scanning_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/scanning_tablet.webp    1x,
              ./images/gallery/scanning_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/scanning_tablet.jpg    1x,
              ./images/gallery/scanning_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/scanning_phone.webp    1x,
              ./images/gallery/scanning_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/scanning_phone.jpg    1x,
              ./images/gallery/scanning_phone@2x.jpg 2x
            "
          />
          <img src="./images/gallery/scanning_desktop.jpg" alt="" class="gallery__img" />
        </picture>
        <p class="gallery__desc">Високоточне 3D сканування</p>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/copy_desktop.webp 1x, ./images/gallery/copy_desktop@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/copy_desktop.jpg 1x, ./images/gallery/copy_desktop@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/copy_tablet.webp 1x, ./images/gallery/copy_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/copy_tablet.jpg 1x, ./images/gallery/copy_tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/gallery/copy_phone.webp 1x, ./images/gallery/copy_phone@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/gallery/copy_phone.jpg 1x, ./images/gallery/copy_phone@2x.jpg 2x"
          />
          <img src="./images/gallery/copy_desktop.jpg" alt="" class="gallery__img" />
        </picture>
        <p class="gallery__desc">Створення точної копії на базі сканування reverse engineering</p>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/cycles_desktop.webp    1x,
              ./images/gallery/cycles_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/cycles_desktop.jpg    1x,
              ./images/gallery/cycles_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/cycles_tablet.webp    1x,
              ./images/gallery/cycles_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/cycles_tablet.jpg 1x, ./images/gallery/cycles_tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/gallery/cycles_phone.webp 1x, ./images/gallery/cycles_phone@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/gallery/cycles_phone.jpg 1x, ./images/gallery/cycles_phone@2x.jpg 2x"
          />
          <img src="./images/gallery/cycles_desktop.jpg" alt="" class="gallery__img" />
        </picture>
        <p class="gallery__desc">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </p>
      </li>
    </ul>
  </div>
</section>
