<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__iconwrapper" data-modal-close>
      <svg class="modal__icon" width="10" height="10">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="slider-mary">
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/models_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/architectural_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/walle_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/head_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/tank_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/lamps_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/car_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/building_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/mushroom_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/led_lamp_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/track_desktop@2x.jpg)"
      ></div>
      <div
        class="slider__item"
        style="background-image: url(./images/gallery/florarium_desktop@2x.jpg)"
      ></div>
    </div>
  </div>
</div>
