<section class="section photos--section">
  <div class="container">
    <h2 id="photos" class="photos__title">більше фото</h2>
    <ul class="photos__list list" data-modal-open>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/models_desktop.webp    1x,
              ./images/gallery/models_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/models_desktop.jpg    1x,
              ./images/gallery/models_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/models_tablet.webp    1x,
              ./images/gallery/models_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/models_tablet.jpg 1x, ./images/gallery/models_tablet@2x.jpg 2x"
          />

          <source
            media="(max-width: 767px)"
            srcset="./images/gallery/models_phone.webp 1x, ./images/gallery/models_phone@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/gallery/models_phone.jpg 1x, ./images/gallery/models_phone@2x.jpg 2x"
          />

          <img class="photos__image" src="#" alt="" />
        </picture>
      </li>

      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/architectural_desktop.webp    1x,
              ./images/gallery/architectural_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/architectural_desktop.jpg    1x,
              ./images/gallery/architectural_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/architectural_tablet.webp    1x,
              ./images/gallery/architectural_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/architectural_tablet.jpg    1x,
              ./images/gallery/architectural_tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/architectural_phone.webp    1x,
              ./images/gallery/architectural_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/architectural_phone.jpg    1x,
              ./images/gallery/architectural_phone@2x.jpg 2x
            "
          />

          <img class="photos__image" src="#" alt="Перекриття" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/walle_desktop.webp    1x,
              ./images/gallery/walle_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/walle_desktop.jpg 1x, ./images/gallery/walle_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/walle_tablet.webp 1x, ./images/gallery/walle_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/walle_tablet.jpg 1x, ./images/gallery/walle_tablet@2x.jpg 2x"
          />

          <source
            media="(max-width: 767px)"
            srcset="./images/gallery/walle_phone.webp 1x, ./images/gallery/walle_phone@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/gallery/walle_phone.jpg 1x, ./images/gallery/walle_phone@2x.jpg 2x"
          />

          <img class="photos__image" src="#" alt="Робот" />
        </picture>
      </li>

      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/head_desktop.webp 1x, ./images/gallery/head_desktop@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/head_desktop.jpg 1x, ./images/gallery/head_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/head_tablet.webp 1x, ./images/gallery/head_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/head_tablet.jpg 1x, ./images/gallery/head_tablet@2x.jpg 2x"
          />
          <img class="photos__image" src="#" alt="Череп" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/tank_desktop.webp 1x, ./images/gallery/tank_desktop@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/tank_desktop.jpg 1x, ./images/gallery/tank_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/tank_tablet.webp 1x, ./images/gallery/tank_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/tank_tablet.jpg 1x, ./images/gallery/tank_tablet@2x.jpg 2x"
          />
          <img class="photos__image" src="#" alt="Танк" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/lamps_desktop.webp    1x,
              ./images/gallery/lamps_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/lamps_desktop.jpg 1x, ./images/gallery/lamps_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/lamps_tablet.webp 1x, ./images/gallery/lamps_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/lamps_tablet.jpg 1x, ./images/gallery/lamps_tablet@2x.jpg 2x"
          />
          <img class="photos__image" src="#" alt="Лампи" />
        </picture>
      </li>

      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/car_desktop.webp 1x, ./images/gallery/car_desktop@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/car_desktop.jpg 1x, ./images/gallery/car_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/car_tablet.webp 1x, ./images/gallery/car_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/car_tablet.jpg 1x, ./images/gallery/car_tablet@2x.jpg 2x"
          />
          <img class="photos__image" src="#" alt="Машина" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/building_desktop.webp    1x,
              ./images/gallery/building_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/building_desktop.jpg    1x,
              ./images/gallery/building_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/building_tablet.webp    1x,
              ./images/gallery/building_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/building_tablet.jpg    1x,
              ./images/gallery/building_tablet@2x.jpg 2x
            "
          />
          <img class="photos__image" src="#" alt="Будівля" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/mushroom_desktop.webp    1x,
              ./images/gallery/mushroom_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/mushroom_desktop.jpg    1x,
              ./images/gallery/mushroom_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/mushroom_tablet.webp    1x,
              ./images/gallery/mushroom_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/mushroom_tablet.jpg    1x,
              ./images/gallery/mushroom_tablet@2x.jpg 2x
            "
          />
          <img class="photos__image" src="#" alt="Лампа" />
        </picture>
      </li>

      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/led_lamp_desktop.webp    1x,
              ./images/gallery/led_lamp_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/led_lamp_desktop.jpg    1x,
              ./images/gallery/led_lamp_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/led_lamp_tablet.webp    1x,
              ./images/gallery/led_lamp_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/led_lamp_tablet.jpg    1x,
              ./images/gallery/led_lamp_tablet@2x.jpg 2x
            "
          />
          <img class="photos__image" src="#" alt="Led-Лампа" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/track_desktop.webp    1x,
              ./images/gallery/track_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="./images/gallery/track_desktop.jpg 1x, ./images/gallery/track_desktop@2x.jpg 2x"
          />

          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/track_tablet.webp 1x, ./images/gallery/track_tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/gallery/track_tablet.jpg 1x, ./images/gallery/track_tablet@2x.jpg 2x"
          />
          <img class="photos__image" src="#" alt="Баггі" />
        </picture>
      </li>
      <li class="photos__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/florarium_desktop.webp    1x,
              ./images/gallery/florarium_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/gallery/florarium_desktop.jpg    1x,
              ./images/gallery/florarium_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/florarium_tablet.webp    1x,
              ./images/gallery/florarium_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/florarium_tablet.jpg    1x,
              ./images/gallery/florarium_tablet@2x.jpg 2x
            "
          />
          <img class="photos__image" src="#" alt="Флорарiум" />
        </picture>
      </li>
    </ul>
    <img class="photos__icon" src="./images/gallery/more-img.png" alt="">
  </div>
</section>
