<section class="section section--bottom">
  <div class="container">
    <h2 class="creating__title">Ми створюємо фотореалістичні зображення моделей</h2>
    <ul class="creating__list list">
      <li class="creating__item">
        <picture class="creating__picture">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_first_desktop.webp    1x,
              ./images/modelling/realistic_first_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_first_desktop.jpg    1x,
              ./images/modelling/realistic_first_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_first_tablet.webp    1x,
              ./images/modelling/realistic_first_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_first_tablet.jpg    1x,
              ./images/modelling/realistic_first_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_first_phone.webp    1x,
              ./images/modelling/realistic_first_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_first_phone.jpg    1x,
              ./images/modelling/realistic_first_phone@2x.jpg 2x
            "
          />
          <img
            class="creating__img"
            src="./images/modelling/realistic_first_phone.jpg"
            alt="clamp"
          />
        </picture>
      </li>
      <li class="creating__item">
        <picture class="creating__picture">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_second_desktop.webp    1x,
              ./images/modelling/realistic_second_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_second_desktop.jpg    1x,
              ./images/modelling/realistic_second_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_second_tablet.webp    1x,
              ./images/modelling/realistic_second_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_second_tablet.jpg    1x,
              ./images/modelling/realistic_second_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_second_phone.webp    1x,
              ./images/modelling/realistic_second_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_second_phone.jpg    1x,
              ./images/modelling/realistic_second_phone@2x.jpg 2x
            "
          />
          <img
            class="creating__img"
            src="./images/modelling/realistic_second_phone.jpg"
            alt="calipers"
          />
        </picture>
      </li>
      <li class="creating__item">
        <picture class="creating__picture">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_third_desktop.webp    1x,
              ./images/modelling/realistic_third_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_third_desktop.jpg    1x,
              ./images/modelling/realistic_third_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_third_tablet.webp    1x,
              ./images/modelling/realistic_third_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_third_tablet.jpg    1x,
              ./images/modelling/realistic_third_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_third_phone.webp    1x,
              ./images/modelling/realistic_third_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_third_phone.jpg    1x,
              ./images/modelling/realistic_third_phone@2x.jpg 2x
            "
          />
          <img
            class="creating__img"
            src="./images/modelling/realistic_third_phone.jpg"
            alt="electronic-board"
          />
        </picture>
      </li>
      <li class="creating__item">
        <picture class="creating__picture">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_fourth_desktop.webp    1x,
              ./images/modelling/realistic_fourth_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/modelling/realistic_fourth_desktop.jpg    1x,
              ./images/modelling/realistic_fourth_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_fourth_tablet.webp    1x,
              ./images/modelling/realistic_fourth_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modelling/realistic_fourth_tablet.jpg    1x,
              ./images/modelling/realistic_fourth_tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_fourth_phone.webp    1x,
              ./images/modelling/realistic_fourth_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 280px)"
            srcset="
              ./images/modelling/realistic_fourth_phone.jpg    1x,
              ./images/modelling/realistic_fourth_phone@2x.jpg 2x
            "
          />
          <img
            class="creating__img"
            src="./images/modelling/realistic_fourth_phone.jpg"
            alt="turbine"
          />
        </picture>
      </li>
    </ul>

    <div class="buttonwrapper">
      <a class="button--order link" type="button" href="./order.html">зробити замовлення</a>
    </div>
  </div>
</section>
