
<section class="section">
  <div class="container container--bg-hero">

        <include src="./partials/pages/bg-blocks/bg-blocks__pages.html"></include>
<h1 class="visually-hidden">visually hidden</h1>
    <h2 class="subtitle">3D МОДЕЛЮВАННЯ</h2>
    <div class="modelling-wrapper">
              <p class="modelling-hero modelling-hero__right-side">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде
        створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими
        методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер
        при розробці моделі.
      </p>
     
  
     
      <p class="modelling-hero modelling-hero__left-side">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для
        її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
      
  </div>
</section>