/* caviar dreams - regular - latin_cyrillic */
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 400;
  src: local('Caviar Dreams'), local('CaviarDreams'),
    /* IE6-IE8 */ url('../fonts/caviardreams/caviardreams.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/caviardreams/caviardreams.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/caviardreams/caviardreams.ttf') format('truetype');
}

/* caviar dreams - 700 - latin_cyrillic */
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 700;
  src: local(''), /* IE6-IE8 */ url('../fonts/caviardreams/caviardreamsbold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/caviardreams/caviardreamsbold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/caviardreams/caviardreamsbold.ttf') format('truetype');
}

/* cera pro - 300 - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/cerapro/CeraPro-Light.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/cerapro/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/cerapro/CeraPro-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/cerapro/CeraPro-Light.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/cerapro/CeraPro-Light.ttf') format('truetype');
}

/* cera pro - regular - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cerapro/CeraPro-Regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/cerapro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/cerapro/CeraPro-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/cerapro/CeraPro-Regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/cerapro/CeraPro-Regular.ttf') format('truetype');
}

/* cera pro - 500 - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/cerapro/CeraPro-Medium.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/cerapro/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/cerapro/CeraPro-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/cerapro/CeraPro-Medium.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/cerapro/CeraPro-Medium.ttf') format('truetype');
}

/* cera pro - bold - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/cerapro/CeraPro-Bold.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/cerapro/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/cerapro/CeraPro-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/cerapro/CeraPro-Bold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/cerapro/CeraPro-Bold.ttf') format('truetype');
}
