<div class="bg-main-hero">

    <div class="bg-block-header">
        <div class="bg-block-header--1 block"></div>
        <div class="bg-block-header--2 block"></div>
        <div class="bg-block-header--3 block"></div>
        <div class="bg-block-header--4 block"></div>
    </div>

    <div class="bg-block-left">

        <div class="bg-block-left--1 block"></div>
        <div class="bg-block-left--2 block"></div>
        <div class="bg-block-left--3 block"></div>
        <div class="bg-block-left--4 block"></div>

        <div class="bg-block-left__img--1 block"></div>
        <div class="bg-block-left__img--2 block"></div>

    </div>

    <div class="bg-block-right">

        <div class="bg-block-right--1 block"></div>
        <div class="bg-block-right--2 block"></div>
        <div class="bg-block-right--3 block"></div>
        <div class="bg-block-right--4 block"></div>
        <div class="bg-block-right--5 block"></div>

        <div class="bg-block-right__img--1 block"></div>
        <div class="bg-block-right__img--2 block"></div>

    </div>

    <div class="bg-block-bottom">

        <div class="bg-block-bottom--1 block"></div>
        <div class="bg-block-bottom--2 block"></div>
        <div class="bg-block-bottom--3 block"></div>
        <div class="bg-block-bottom--4 block"></div>
        <div class="bg-block-bottom--5 block"></div>
        <div class="bg-block-bottom--6 block"></div>
        <div class="bg-block-bottom--7 block"></div>
        <div class="bg-block-bottom--8 block"></div>
        <div class="bg-block-bottom--9 block"></div>

        <div class="bg-block-bottom__img block"></div>
    </div>

</div>

