<div class="bg-blocks__pages">

    <div class="bg-block-header">
        <div class="bg-block-header--1 block"></div>
        <div class="bg-block-header--2 block"></div>
        <div class="bg-block-header--3 block"></div>
        <div class="bg-block-header--4 block"></div>
    </div>

    <div class="bg-block-body">
        <div class="bg-block-body--1 block"></div>
        <div class="bg-block-body--2 block"></div>
        <div class="bg-block-body--3 block"></div>
        <div class="bg-block-body--4 block"></div>
        <div class="bg-block-body--5 block"></div>        
    </div>

</div>