<section class="section section--form">
  <div class="container contacts-info contacts-info--order container--column">
    <div class="contacts-info__container contacts-info-tel contacts-info__container--order">
      <h3 class="contacts-info__tel-title">ТЕЛЕФОНИ</h3>
      <ul class="list contacts-info__tel-list contacts-info-list contacts-info__list--order">
        <li class="contacts-inf__list-item">+38 (095) -73-84-551</li>
        <li class="">+38 (098) -00-25-235</li>
      </ul>
    </div>
    <div class="contacts-info__container contacts-info__email contacts-info__container--order">
      <h3 class="contacts-info__email-title">Email</h3>
      <p class="list contacts-info__email-list contacts-info-list">3dfreedom.info@gmail.com</p>
    </div>
    <div
      class="contacts-info__container contacts-info__work-schedule contacts-info__container--order"
    >
      <h3 class="contacts-info__work-schedule-title">Робочий час</h3>
      <ul
        class="
          list
          contacts-info__work-schedule-list
          contacts-info-list
          contacts-info__work-schedule-list--order
        "
      >
        <li class="contacts-inf__list-item contacts-inf__list-item--order">
          <p>Пн-пт:</p>
          <p>з 8:00 до 19:00</p>
        </li>
        <li class="contacts-inf__list-item--order">
          <p>Сб, Нд:</p>
          <p>з 10:00 до 17:00</p>
        </li>
      </ul>
    </div>
    <div class="contacts-info__mosaic"></div>
  </div>
</section>
