<section class="order-hero section">
  <div class="container main-container container--bg-hero">
    <include src="./partials/pages/bg-blocks/bg-blocks__pages.html"></include>
    <strong class="order-title">зробити замовлення</strong>
    <div class="main-container__title">
      <div class="order-hero-list__item order-hero-list order-lamp"></div>
      <div>
        <p class="order-hero__text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
        </p>
        <p class="order-hero__text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
          ваші запитання.
        </p>
        <ul class="list order-hero__photo">
          <li class="order_track_desktop order-hero__photo-track"></li>
          <li class="order_led_lamp_desktop order-hero__photo-led"></li>
          <li class="order_lamp_mushroom order-hero__photo-mushroom"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
