<section class="section section--bottom">
  <div class="container">
    <h2 class="scanning__title">процес 3d сканування</h2>
    <ul class="scanning__list list">
      <li class="scanning__item">
        <div class="scanning__border">
          <picture class="scanning__picture">
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_first_desktop.webp    1x,
                ./images/scanning/process_first_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_first_desktop.jpg    1x,
                ./images/scanning/process_first_desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_first_tablet.webp    1x,
                ./images/scanning/process_first_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_first_tablet.jpg    1x,
                ./images/scanning/process_first_tablet@2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/scanning/process_first_phone.webp    1x,
                ./images/scanning/process_first_phone@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/scanning/process_first_phone.jpg    1x,
                ./images/scanning/process_first_phone@2x.jpg 2x
              "
            />
            <img class="scanning__photo" src="#" alt="404" />
          </picture>
          <p class="scanning__description scanning__description--processfourth">
            Підготовка деталі до сканування
          </p>
        </div>
      </li>
      <li class="scanning__item">
        <div class="scanning__border">
          <picture class="scanning__picture">
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_second_desktop.webp    1x,
                ./images/scanning/process_second_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_second_desktop.jpg    1x,
                ./images/scanning/process_second_desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_second_tablet.webp    1x,
                ./images/scanning/process_second_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_second_tablet.jpg    1x,
                ./images/scanning/process_second_tablet@2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/scanning/process_second_phone.webp    1x,
                ./images/scanning/process_second_phone@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/scanning/process_second_phone.jpg    1x,
                ./images/scanning/process_second_phone@2x.jpg 2x
              "
            />
            <img class="scanning__photo" src="#" alt="404" />
          </picture>
          <p class="scanning__description scanning__description--processfourth">
            Створення сканів і їх обробка
          </p>
        </div>
      </li>
      <li class="scanning__item">
        <div class="scanning__border">
          <picture class="scanning__picture">
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_third_desktop.webp    1x,
                ./images/scanning/process_third_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_fourth_desktop.jpg   1x,
                ./images/scanning/process_third_desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_third_tablet.webp    1x,
                ./images/scanning/process_third_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_third_tablet.jpg    1x,
                ./images/scanning/process_third_tablet@2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/scanning/process_third_phone.webp    1x,
                ./images/scanning/process_third_phone@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/scanning/process_third_phone.jpg    1x,
                ./images/scanning/process_third_phone@2x.jpg 2x
              "
            />
            <img class="scanning__photo" src="#" alt="404" />
          </picture>
          <p class="scanning__description scanning__description--processfourth">
            Перетворення reverse engineering
          </p>
        </div>
      </li>
      <li class="scanning__item">
        <div class="scanning__border">
          <picture class="scanning__picture">
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_fourth_desktop.webp    1x,
                ./images/scanning/process_fourth_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/scanning/process_fourth_desktop.jpg    1x,
                ./images/scanning/process_fourth_desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_fourth_tablet.webp    1x,
                ./images/scanning/process_fourth_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/scanning/process_fourth_tablet.jpg    1x,
                ./images/scanning/process_fourth_tablet@2x.jpg 2x
              "
            />
            <source
              srcset="
                ./images/scanning/process_fourth_phone.webp    1x,
                ./images/scanning/process_fourth_phone@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/scanning/process_fourth_phone.jpg    1x,
                ./images/scanning/process_fourth_phone@2x.jpg 2x
              "
            />
            <img class="scanning__photo" src="#" alt="404" />
          </picture>
          <p class="scanning__description scanning__description--processfourth">
            Підготовка моделі до друку
          </p>
        </div>
      </li>
    </ul>

    <div class="buttonwrapper">
      <a class="button--order link" type="button" href="./order.html">зробити замовлення</a>
    </div>
  </div>
</section>
