<footer class="footer team">
  <div class="container">
    <div class="footer--block-flex">
      <a class="logo-footer logo link" href="#">
        <picture>
          <source srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x" />

          <img class="logo-footer__img" src="./images/logo/logo.png" alt="Логотип" />
        </picture>
      </a>

      <div class="footer--block-flex-main">
        <nav class="nav-footer">
          <ul class="nav-footer__list list">
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./index.html"> Головна </a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./modeling.html">
                3D Моделювання
              </a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./scanning.html">
                3D Сканування
              </a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./printing.html">
                3D Друк
              </a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./order.html"> Замовити </a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link link footer--dark-text" href="./contacts.html">
                Контакти
              </a>
            </li>
          </ul>
        </nav>

        <address class="address-footer">
          <ul class="seti-footer list">
            <li class="seti-footer__item">
              <a href="#" class="seti-footer__link link footer--dark-text">Instagram</a>
            </li>
            <li class="seti-footer__item">
              <a href="#" class="seti-footer__link link footer--dark-text">YouTube</a>
            </li>
            <li class="seti-footer__item">
              <a href="#" class="seti-footer__link link footer--dark-text">Facebook</a>
            </li>
          </ul>

          <div class="footer--block-flex-secondary">
            <div class="email-footer">
              <p class="email-footer__text footer--dark-text">Email</p>
              <a class="link footer--blue-text" href="mailto:3dfreedom.info@gmail.com"
                >3dfreedom.info@gmail.com</a
              >
            </div>

            <div class="tel-footer">
              <p class="tel-footer__text footer--dark-text">Телефони</p>
              <ul class="tel-footer__list list">
                <li class="tel-footer__item">
                  <a class="link footer--blue-text" href="tel:+380936432288">+38 (093) 643 22 88</a>
                </li>
                <li class="tel-footer__item">
                  <a class="link footer--blue-text" href="tel:+380503454423">+38 (050) 345 44 23</a>
                </li>
              </ul>
            </div>
          </div>
        </address>
      </div>
    </div>
    <div class="team__container">
      <button type="button" class="team__copyright" data-team-open>
        &copy; WHITECODE team 2021
      </button>
      <div class="team__modal is-hidden" data-team>
        <button class="team__close" type="button" data-team-close>
          <svg class="team__icon" width="15" height="15">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <strong class="team__name">WHITECODE team</strong>
        <ul class="team__list list">
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Makedon-KIEV">Alex MAKEDON</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/alionakaliuzhnaya"
              >Aliona KALIUZHNA</a
            >
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Deemon13">Dmitriy FEDORENKO</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/KaterynaTesta">Katya TESTA</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Lesiv-Aleksandr">Alexander LESIV</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/jekvodogrei">Yevhen VOROBEI</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Alexander-Yershov"
              >Oleksandr YERSHOV</a
            >
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/KseniaLF">Ksenia DVORNICK</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Dubnianskaya">Maryna DUBNIANSKA</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/Maryna-Zakrevska"
              >Maryna ZAKREVSKA</a
            >
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/MatveyRubets">Matvei RUBETS</a>
          </li>
          <li class="team__item">
            <a class="team__link link" href="https://github.com/RuslanKabachok">Ruslan KABACHOK</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
