<section class="section">
    <div class="container container--bg-hero">
            <include src="./partials/pages/bg-blocks/bg-blocks__pages.html"></include>

        <h2 class="examples__title">ми створюємо</h2>
        <ul class="examples__list list">
            <li class="examples__item">
                <div class="examples__border">
                        <picture>
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/prototypes_desktop.webp 1x, ./images/printing/prototypes_desktop@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/prototypes_desktop.jpg 1x, ./images/printing/prototypes_desktop@2x.jpg 2x">
            
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/prototypes_tablet.webp 1x, ./images/printing/prototypes_tablet@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/prototypes_tablet.jpg 1x, ./images/printing/prototypes_tablet@2x.jpg 2x">
            
                            <source
                                srcset="./images/printing/prototypes_phone.webp 1x, ./images/printing/prototypes_phone@2x.webp 2x"
                                type="image/webp">
                            <source
                                srcset="./images/printing/prototypes_phone.jpg 1x, ./images/printing/prototypes_phone@2x.jpg 2x">
            
                            <img class="examples__photo" src="#" alt="Прототип" />
                        </picture>
                        <p class="examples__description">прототипи</p>
                </div>
            </li>
            <li class="examples__item">
                <div class="examples__border">
                        <picture>
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/maquettes_desktop.webp 1x, ./images/printing/maquettes_desktop@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/maquettes_desktop.jpg 1x, ./images/printing/maquettes_desktop@2x.jpg 2x">
            
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/maquettes_tablet.webp 1x, ./images/printing/maquettes_tablet@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/maquettes_tablet.jpg 1x, ./images/printing/maquettes_tablet@2x.jpg 2x">
            
                            <source
                                srcset="./images/printing/maquettes_phone.webp 1x, ./images/printing/maquettes_phone@2x.webp 2x"
                                type="image/webp">
                            <source
                                srcset="./images/printing/maquettes_phone.jpg 1x, ./images/printing/maquettes_phone@2x.jpg 2x">
            
                            <img class="examples__photo" src="#" alt="Макет" />
                        </picture>
                        <p class="examples__description">макети</p>
                </div>
            </li>
            <li class="examples__item">
                <div class="examples__border">
                        <picture>
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/decor_desktop.webp 1x, ./images/printing/decor_desktop@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/decor_desktop.jpg 1x, ./images/printing/decor_desktop@2x.jpg 2x">
            
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/decor_tablet.webp 1x, ./images/printing/decor_tablet@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/decor_tablet.jpg 1x, ./images/printing/decor_tablet@2x.jpg 2x">
            
                            <source
                                srcset="./images/printing/decor_phone.webp 1x, ./images/printing/decor_phone@2x.webp 2x"
                                type="image/webp">
                            <source
                                srcset="./images/printing/decor_phone.jpg 1x, ./images/printing/decor_phone@2x.jpg 2x">
            
                            <img class="examples__photo" src="#" alt="Декор" />
                        </picture>
                        <p class="examples__description">декор</p>
                </div>
            </li>
            <li class="examples__item">
                <div class="examples__border">
                        <picture>
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/coub_desktop.webp 1x, ./images/printing/coub_desktop@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 1444px)"
                                srcset="./images/printing/coub_desktop.jpg 1x, ./images/printing/coub_desktop@2x.jpg 2x">
            
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/coub_tablet.webp 1x, ./images/printing/coub_tablet@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 768px)"
                                srcset="./images/printing/coub_tablet.jpg 1x, ./images/printing/coub_tablet@2x.jpg 2x">
            
                            <source
                                srcset="./images/printing/coub_phone.webp 1x, ./images/printing/coub_phone@2x.webp 2x"
                                type="image/webp">
                            <source
                                srcset="./images/printing/coub_phone.jpg 1x, ./images/printing/coub_phone@2x.jpg 2x">
            
                            <img class="examples__photo" src="#" alt="Куб"/>
                        </picture>
                        <p class="examples__description">корпоративний дизайн</p>
                </div>
            </li>
        </ul>
    </div>
</section>