<section class="section section--bottom">
  <div class="process--container container">
    <h2 class="visually-hidden">Опис процесу</h2>
    <ul class="process list">
      <li class="process__item">
        <div class="process__illustration">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/printing_desktop.webp    1x,
              ./images/printing/printing_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/printing_desktop.jpg    1x,
              ./images/printing/printing_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/printing_tablet.webp    1x,
              ./images/printing/printing_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/printing_tablet.jpg    1x,
              ./images/printing/printing_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/printing_phone.webp    1x,
              ./images/printing/printing_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/printing_phone.jpg    1x,
              ./images/printing/printing_phone@2x.jpg 2x
            "
          />

          <img class="process__image" src="#" alt="Друк" />
        </picture>
        </div>
        <div class="process__desc">
        <p class="process__text">
            <b class="process__accent">3D-друк</b> - ми використовуємо FDM технологію друку.
            Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="process__text">
            Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
            системах автоматизованого проектування.
          </p>
          <p class="process__text last">
            3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві
            і багатьох інших сфер.
          </p>
          
          <div>
        <a class="button--order link process__button" href="./order.html">зробити замовлення</a>
      </div>
      </div>
      </li>

      <li class="process__item">
        <div class="process__illustration">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/modelling_desktop.webp    1x,
              ./images/printing/modelling_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/modelling_desktop.jpg    1x,
              ./images/printing/modelling_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/modelling_tablet.webp    1x,
              ./images/printing/modelling_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/modelling_tablet.jpg    1x,
              ./images/printing/modelling_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/modelling_phone.webp    1x,
              ./images/printing/modelling_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/modelling_phone.jpg    1x,
              ./images/printing/modelling_phone@2x.jpg 2x
            "
          />

          <img class="process__image" src="#" alt="Моделювання" />
        </picture>
        </div>
        <div  class="process__desc">
        <p class="process__text">
            <b class="process__accent">3D-моделювання</b> - це процес розробки математичного
            уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою спеціалізованого
            програмного забезпечення.
          </p>
          <p class="process__text">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
          <p class="process__text last">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші потреби.
          </p>
          <div>
        <a class="button--order link process__button" href="./order.html">зробити замовлення</a>
      </div>
      </div>
      </li>

      <li class="process__item">
        <div class="process__illustration">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/scanning_desktop.webp    1x,
              ./images/printing/scanning_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/scanning_desktop.jpg    1x,
              ./images/printing/scanning_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/scanning_tablet.webp    1x,
              ./images/printing/scanning_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/scanning_tablet.jpg    1x,
              ./images/printing/scanning_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/scanning_phone.webp    1x,
              ./images/printing/scanning_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/scanning_phone.jpg    1x,
              ./images/printing/scanning_phone@2x.jpg 2x
            "
          />

          <img class="process__image" src="#" alt="Сканування" />
        </picture>
        </div>
        <div class="process__desc last">
        <p class="process__text">
            <b class="process__accent">3D-сканування</b> - зняття даних, шляхом аналізу форми
            предмета і на основі отриманих даних створення її 3D-моделі.
          </p>
          <p class="process__text last">
            Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
            візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
            3D-принтері.
          </p>
          <div>
        <a class="button--order link process__button last" href="./order.html">зробити замовлення</a>
      </div>
      </div>
      </li>
    </ul>
  </div>
</section>
