.bg-main-hero {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bg-main-hero {
    display: block;
  }
  .block {
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 74px;
    height: 74px;
  }
  .container--bg-hero {
    position: relative;
  }
  .bg-block-header {
    &--1 {
      top: -90px;
      left: 0;
      border-radius: 35px 0px 0px 35px;
      transform: rotate(180deg);
    }
    &--2 {
      top: -90px;
      right: 0;
      border-radius: 35px 0px 0px 35px;
    }
    &--3 {
      width: 45px;
      height: 74px;
      top: 209px;
      left: 0;
      border-radius: 0px 0px 35px 0px;
    }
    &--4 {
      width: 55px;
      height: 74px;
      top: 557px;
      left: 0;
      border-radius: 0px 0px 35px 0px;
    }
  }
  .bg-block-body {
    &--1 {
      width: 57px;
      top: 976px;
      left: 0;
      border-radius: 0px 0px 0px 18px;
    }
    &--2 {
      right: 0;
      top: 494px;
      border-radius: 72px;
    }
    &--3 {
      width: 54px;
      height: 74px;
      top: 939px;
      right: 0;
      border-radius: 0px 0px 25px 0px;
      transform: rotate(90deg);
    }
    &--4 {
      top: 1266px;
      right: 0;
      border-radius: 25px 0px 0px 0px;
    }
    &--5 {
      display: none;
    }
  }
  .bg-block-left {
    &--1 {
      width: 57px;
      top: 976px;
      left: 0;
      border-radius: 0px 0px 0px 18px;
    }
    &--2 {
      right: 0;
      top: 494px;
      border-radius: 72px;
    }
    &--3 {
      width: 54px;
      height: 74px;
      top: 939px;
      right: 0;
      border-radius: 0px 0px 25px 0px;
      transform: rotate(90deg);
    }
    &--4 {
      top: 1266px;
      right: 0;
      border-radius: 25px 0px 0px 0px;
    }
    &__img--1 {
      display: none;
    }
    &__img--2 {
      display: none;
    }
  }
  .bg-block-bottom {
    display: none;
  }
  .bg-block-right {
    display: none;
  }
  .bg-blocks__menu {
    &--1 {
      top: 8px;
      left: 0;
      border-radius: 35px 0px 0px 35px;
      transform: rotate(180deg);
    }
    &--2 {
      top: 8px;
      right: 0;
      border-radius: 35px 0px 0px 35px;
    }
    &--3 {
      width: 45px;
      height: 74px;
      top: 209px;
      left: 0;
      border-radius: 0px 0px 35px 0px;
    }
    &--4 {
      display: none;
    }
  }
  .bg-blocks__menu-tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1443px) {
  .bg-main-hero {
    display: block;
  }
  .block {
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 74px;
    height: 74px;
  }
  .container--bg-hero {
    position: relative;
  }

  .bg-block-header {
    &--1 {
      top: -100px;
      left: 32px;
      border-radius: 35px 0px 0px 0px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    }
    &--2 {
      top: -100px;
      left: 233px;
      border-radius: 35px 0px 0px 35px;
      transform: rotate(180deg);
    }
    &--3 {
      top: -100px;
      right: 233px;
      border-radius: 35px 0px 0px 35px;
    }
    &--4 {
      display: none;
    }
  }
  .bg-main-hero {
    .bg-block-left {
      &--1 {
        left: 32px;
        border-radius: 0px 0px 35px 0px;
      }
      &--2 {
        left: 105px;
        top: 72px;
        border-radius: 0px 35px 0px 0px;
      }
      &--3 {
        left: 30px;
        top: 144px;
        border-radius: 0px 0px 0px 35px;
      }
      &--4 {
        left: 105px;
        top: 216px;
        border-radius: 0px 0px 35px 0px;
      }

      &__img--1 {
        left: 105px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg1bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg1bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 277px;
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg3bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg3bg-block@2x.jpg);
        }
      }
    }
    .bg-block-right {
      &--1 {
        right: 105px;
      }
      &--2 {
        right: 105px;
        top: 77px;
        border-radius: 72px;
      }
      &--3 {
        right: 32px;
        top: 141px;
        border-radius: 35px 0px;
      }
      &--4 {
        right: 105px;
        top: 216px;
        border-radius: 0px 0px 0px 35px;
      }
      &--5 {
        right: 32px;
        top: 288px;
        border-radius: 0px 35px 0px 0px;
        transform: rotate(180deg);
      }

      &__img--1 {
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 35px 0px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg2bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg2bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 216px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 35px 35px 0px 0px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg4bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg4bg-block@2x.jpg);
        }
      }
    }

    .bg-block-bottom {
      &--1 {
        top: 352px;
        left: 32px;
        border-radius: 0px 0px 35px 0px;
      }
      &--2 {
        top: 433px;
        right: 32px;
        border-radius: 0px 0px 35px 0px;
        transform: rotate(-180deg);
      }
      &--3 {
        width: 45px;
        height: 74px;
        top: 506px;
        right: 0;
        border-radius: 35px 0px 0px 35px;
      }
      &--4 {
        top: 557px;
        left: 32px;
        border-radius: 35px 0px;
      }
      &--5 {
        top: 951px;
        right: 32px;
        border-radius: 35px 0px;
        transform: rotate(90deg);
      }
      &--6 {
        top: 987px;
        left: 32px;
        border-radius: 0px 0px 0px 35px;
      }
      &--7 {
        width: 50px;
        height: 74px;
        top: 1248px;
        left: 0px;
        border-radius: 0px 35px 35px 0px;
      }
      &--8 {
        top: 1278px;
        right: 32px;
        border-radius: 35px 0px;
      }
      &--9 {
        display: none;
      }

      &__img {
        display: none;
      }
    }
  }
  .bg-block-body {
    &--1 {
      right: 9px;
      border-radius: 0px 35px 0px 0px;
      transform: rotate(180deg);
    }
    &--2 {
      left: 9px;
      top: 147px;
      border-radius: 0px 0px 0px 35px;
      transform: rotate(-90deg);
    }
    &--3 {
      right: 9px;
      top: 390px;
      border-radius: 25px 0px;
    }
    &--4 {
      right: 9px;
      top: 950px;
      border-radius: 25px 0px;
      transform: rotate(90deg);
    }
    &--5 {
      display: none;
    }
  }

  .bg-blocks__menu-tablet {
    .bg-blocks__menu-header {
      &--1 {
        top: 8px;
        left: 233px;
        border-radius: 35px 0px 0px 35px;
        transform: rotate(180deg);
      }
      &--2 {
        top: 8px;
        right: 233px;
        border-radius: 35px 0px 0px 35px;
      }
    }
    .bg-blocks__menu-left {
      &--1 {
        top: 80px;
        left: 30px;
        border-radius: 0px 0px 35px 0px;
      }
      &--2 {
        left: 105px;
        top: 156px;
        border-radius: 0px 35px 0px 0px;
      }
      &--3 {
        left: 32px;
        top: 229px;
        border-radius: 0px 0px 0px 35px;
      }
      &--4 {
        left: 106px;
        top: 303px;
        border-radius: 0px 0px 35px 0px;
      }

      &__img--1 {
        top: 80px;
        left: 105px;
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg1bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg1bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 365px;
        left: 32px;
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg3bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg3bg-block@2x.jpg);
        }
      }
    }
    .bg-blocks__menu-right {
      &--1 {
        top: 82px;
        right: 105px;
      }
      &--2 {
        right: 105px;
        top: 157px;
        border-radius: 72px;
      }
      &--3 {
        right: 32px;
        top: 229px;
        border-radius: 30px 0px;
      }
      &--4 {
        right: 107px;
        top: 305px;
        border-radius: 0px 0px 0px 35px;
      }
      &--5 {
        right: 32px;
        top: 377px;
        border-radius: 0px 35px 0px 0px;
        transform: rotate(180deg);
      }

      &__img--1 {
        top: 82px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 35px 0px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg2bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg2bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 302px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 35px 35px 0px 0px;
        background-size: cover;

        background-image: url(../images/bg-blocks/timg4bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/timg4bg-block@2x.jpg);
        }
      }
    }
    .bg-blocks__menu-bottom {
      &--1 {
        top: 439px;
        left: 32px;
        border-radius: 0px 0px 35px 0px;
      }
      &--2 {
        top: 515px;
        right: 32px;
        border-radius: 0px 0px 35px 0px;
        transform: rotate(-180deg);
      }
      &--3 {
        width: 45px;
        top: 589px;
        right: -10px;
        border-radius: 35px 0px 0px 35px;
      }
      &--4 {
        top: 651px;
        left: 32px;
        border-radius: 25px 0px;
      }
    }
  }

  .bg-blocks__menu-tel {
    display: none;
  }
}

@media screen and (min-width: 1444px) {
  .bg-main-hero {
    display: block;
  }

  .block {
    position: absolute;
    width: 144px;
    height: 144px;
  }

  .container--bg-hero {
    position: relative;
  }

  .bg-block-header {
    &--1 {
      top: -156px;
      left: 32px;
      border-radius: 72px 0px 0px 0px;
    }
    &--2 {
      top: -156px;
      left: 293px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px 0px 0px 72px;
      transform: rotate(180deg);
    }
    &--3 {
      height: 111px;
      top: -123px;
      left: 570px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 72px 72px;
    }
    &--4 {
      top: -156px;
      right: 293px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px 0px 0px 72px;
    }
  }

  .bg-main-hero {
    .bg-block-left {
      &--1 {
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 72px 0px;
      }
      &--2 {
        left: 176px;
        top: 144px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 72px 0px 0px;
      }
      &--3 {
        left: 32px;
        top: 288px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 72px;
      }
      &--4 {
        left: 176px;
        top: 432px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 72px 0px;
      }

      &__img--1 {
        left: 176px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/img1bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/img1bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 553px;
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px;

        background-image: url(../images/bg-blocks/img3bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/img3bg-block@2x.jpg);
        }
      }
    }
    .bg-block-right {
      &--1 {
        right: 176px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      }
      &--2 {
        right: 176px;
        top: 144px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px;
      }
      &--3 {
        right: 32px;
        top: 288px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px 0px;
      }
      &--4 {
        right: 176px;
        top: 432px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 72px;
      }
      &--5 {
        right: 32px;
        top: 576px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 72px 0px 0px;
        transform: rotate(180deg);
      }

      &__img--1 {
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 72px 0px;

        background-image: url(../images/bg-blocks/img2bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/img2bg-block@2x.jpg);
        }
      }
      &__img--2 {
        top: 432px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px 72px 0px 0px;

        background-image: url(../images/bg-blocks/img4bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/img4bg-block@2x.jpg);
        }
      }
    }

    .bg-block-bottom {
      &--1 {
        top: 697px;
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 72px 0px;
      }
      &--2 {
        top: 847px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 72px 0px;
        transform: rotate(-180deg);
      }
      &--3 {
        width: 80px;
        height: 144px;
        top: 991px;
        left: 1360px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px 0px 0px 72px;
      }
      &--4 {
        top: 1113px;
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px 0px;
      }
      &--5 {
        top: 1860px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px 0px;
        transform: rotate(90deg);
      }
      &--6 {
        top: 1932px;
        left: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 72px;
      }
      &--7 {
        width: 80px;
        height: 144px;
        top: 2441px;
        left: 0px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 72px 72px 0px;
      }
      &--8 {
        top: 2499px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 72px 0px;
      }
      &--9 {
        top: 2643px;
        right: 176px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 72px;
      }

      &__img {
        top: 1357px;
        right: 32px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 72px;
        background-size: cover;

        background-image: url(../images/bg-blocks/img5bg-block.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/bg-blocks/img5bg-block@2x.jpg);
        }
      }
    }
  }

  .bg-block-body {
    .block {
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    }
    &--1 {
      top: 0;
      right: 13px;
      border-radius: 0px 0px 72px 0px;
      transform: rotate(90deg);
    }
    &--2 {
      top: 121px;
      left: 13px;
      border-radius: 0px 0px 72px 0px;
    }
    &--3 {
      width: 120px;
      top: 508px;
      right: 0;
      border-radius: 72px 0px 40px 0px;
    }
    &--4 {
      width: 72px;
      top: 918px;
      left: 0;
      border-radius: 0px 72px 72px 0px;
      border-radius: 0px 72px 72px 0px;
    }
    &--5 {
      width: 85px;
      top: 1080px;
      right: 0;
      border-radius: 72px 2px 2px 72px;
    }
  }
}

.process__image,
.examples__list,
.scanning__list,
.creating__list,
.button--order,
.gallery__list,
.photos__list,
.footer {
  position: relative;
  z-index: 1;
}
