.container {
  padding: 0 20px;
  margin: 0 auto;
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
    max-width: 768px;

    &--header {
      padding-right: 65px;
      padding-left: 65px;
    }
  }
}

@media screen and (min-width: 1444px) {
  .container {
    padding-right: 189px;
    padding-left: 189px;
    max-width: 1440px;

    &--header {
      align-items: flex-start;
      padding-right: 80px;
      padding-left: 80px;
      height: 111px;
    }

    &--column {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
