.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  transition-property: visibility, opacity;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transition-function);
}

.header__lang:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__lang {
    text-transform: uppercase;
    font-family: var(--secondary-font-regular);
    font-weight: 700;
    font-size: var(--secondary-text-size);
    line-height: 1.29;
    letter-spacing: 0.01em;
    color: var(--main-color-light);
    transition-property: color;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.dropdown-menu--tel {
  background-color: transparent;
  box-shadow: none;
  display: none;
  position: absolute;
  top: 100%;
  left: -330%;

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: var(--secondary-color-dark);
    transition-property: color;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header__iconwrapper--tel:hover > .dropdown-menu--tel {
  display: flex;
}

.dropdown-menu__pseudowrapper {
  height: 20px;
}

.dropdown-menu--tel__list {
  flex-direction: column;
  position: relative;
  width: 165px;
  margin-top: 20px;
  padding: 16px 5px 16px 8px;
  background-color: var(--background-color-white);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);

    width: 20px;
    height: 20px;
    background-color: var(--background-color-white);
  }
}
