.team {
  position: relative;

  &__container {
    margin-top: 10px;
  }

  &__copyright {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--team-color);
      transform: scale(1.5);
      box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
        5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
    }

    &:active {
      transform: scale(1.4);
      box-shadow: none;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10px 10px;
    text-align: center;
    transform: scale(1);
    background-color: var(--background-color-dark);
    transition: transform 250ms var(--main-transition-function);

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: scale(0);
    }
  }

  &__close {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: var(--main-color-dark);
    transition: fill 250ms var(--main-transition-function),
      box-shadow 250ms var(--main-transition-function);

    &:hover,
    &:focus {
      fill: var(--team-color);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__name {
    display: block;
    margin-bottom: 20px;
    color: var(--team-color);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url('../images/svg-parts/github.svg');
  }

  &__link {
    color: var(--main-color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--team-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__container {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }

    &__modal {
      padding-right: 60px;
      padding-left: 60px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -10px;
      margin-left: -10px;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item {
      margin-top: 10px;
      margin-left: 10px;
      flex-basis: calc((100% - 30px) / 3);
    }
  }
}

@media screen and (min-width: 1444px) {
  .team {
    &__container {
      margin-right: 105px;
    }

    &__modal {
      padding-right: 400px;
      padding-left: 400px;
    }
  }
}
