.contacts-info__page{
    margin-bottom: 18px;
}
.contacts-info_page-reset{
    margin-bottom: 0;
}

@media screen and (min-width: 1444px){
    .contacts-info__page{
        margin-bottom: 68px;
    }
    .contacts-info_page-reset{
        margin-bottom: 0;
    }
    
}

