@media screen and (min-width: 1444px) {
  .container-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row-reverse;
    padding-left: 189px;
    padding-right: 189px;
    margin: 0 auto;
    max-width: 1444px;
  }
}

@media screen and (min-width: 1444px) {
  .section--form {
    padding-bottom: 0;
    width: 50%;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .form-container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .modal-form {
    width: 420px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .modal-form {
    width: 515px;
    margin: 0;
  }
}
.modal-form__title {
  font-size: 18px;
  line-height: 1.27;
  margin-bottom: 44px;
  color: var(--main-color-dark);
}

@media screen and (min-width: 768px) {
  .modal-form__title {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .modal-form__title {
    font-size: 36px;
    line-height: 1.25;
    text-align: start;
  }
}

.contact-form {
  color: var(--secondary-color-dark);
  font-size: 14px;
  line-height: 1.42;
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

@media screen and (min-width: 1440px) {
  .contact-form {
    font-size: 18px;
    line-height: 1.1;
  }
}

.contact-form__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42;
  text-transform: capitalize;
  border: none;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  border-color: var(--main-color-dark);
  color: var(--secondary-color-dark);
  outline: 0;
  outline-offset: 0;
}

@media screen and (min-width: 1440px) {
  .contact-form__input {
    font-size: 18px;
    line-height: 1.1;
  }
}

.contact-form__message {
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
  height: 199px;
  border: 1px solid #487996;
  box-sizing: border-box;
  border-radius: 50px 0px;
  padding: 22px 0 0 20px;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
}

@media screen and (min-width: 1440px) {
  .contact-form__message {
    font-size: 18px;
    line-height: 1.1;
  }
}

.contact-form__field-message {
  position: relative;
}

.contact-form__message-icon {
  position: absolute;
  display: block;
  width: 22px;
  height: 20px;
  fill: #cdcdcd;
  top: 175px;
  left: 237px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-form__message-icon {
    left: 376px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-form__message-icon {
    left: 472px;
  }
}

.contact-form__message-icon:hover,
.contact-form__message-icon:focus {
  fill: var(--accent-color);
}

.contact-form__note {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact-form__note {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-form__note {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .button-contact {
    align-self: flex-end;
    margin-bottom: 52px;
  }
}

.form-field {
  position: relative;
  margin-bottom: 44px;
}
.contact-form__input:focus + .contact-form,
.contact-form__input:not(:placeholder-shown) + .contact-form {
  transform: translateY(-40px);
  font-size: 14px;
  line-height: 1.42;
}

.form-field__contact-form {
  margin-bottom: 4px;
}
