.gallery {
  &__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1444px) {
      font-size: 48px;
      margin-bottom: 52px;
    }
  }

  &__img {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1444px) {
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;
    justify-content: center;
    @media screen and (min-width: 768px) {
      margin-top: -32px;
      margin-left: -18px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1444px) {
      margin-top: -56px;
      margin-left: -32px;
    }
  }

  &__item {
    max-width: 280px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 36px) / 2);
      max-width: 315px;
      margin-top: 32px;
      margin-left: 18px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1444px) {
      flex-basis: calc((100%-62px) / 2);
      max-width: 515px;
      margin-top: 56px;
      margin-left: 31px;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    @media screen and (min-width: 768px) {
      font-weight: 300;
      max-width: 315px;
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (min-width: 1444px) {
      max-width: 515px;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
    }
  }
}
