.header {
  padding-top: 29px;
  padding-bottom: 32px;
  &__logo {
    display: block;
    width: 101px;
    z-index: 10;
  }

  &__iconwrapper--menu {
    fill: var(--main-color-dark);
    transition-property: fill;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-function);

    :hover {
      fill: var(--accent-color);
      cursor: pointer;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: none;
  }

  &__iconwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__iconwrapper--tel {
    fill: var(--accent-color);

    :hover {
      cursor: pointer;
    }
  }

  &__contacts {
    display: none;
  }

  &__lang {
    display: block;
    margin-left: 21px;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    text-transform: uppercase;
    font-family: var(--secondary-font-regular);
    font-weight: 700;
    font-size: var(--secondary-text-size);
    line-height: 1.29;
    letter-spacing: 0.01em;
    color: var(--main-color-light);
    transition: color var(--main-transition-duration) var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 35px;
    &__logo {
      width: 125px;
    }

    &__iconwrapper--tel {
      display: none;
    }

    &__contacts {
      display: block;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
    }

    &__icontel {
      fill: var(--accent-color);
      margin-right: 4px;
    }

    &__link {
      line-height: 1.25;
      letter-spacing: 0.01em;
      color: var(--secondary-color-dark);
      transition: color var(--main-transition-duration) var(--main-transition-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__lang {
      margin-left: 0;
      margin-right: 28px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1443px) {
  .header__icon {
    margin-left: 157px;
    margin-right: 57px;
  }
}

@media screen and (min-width: 1444px) {
  .header {
    padding-top: 40px;
    padding-bottom: 12px;
    &__logo {
      width: 192px;
      margin-right: 86px;
    }
    &__navigation {
      display: block;
      z-index: 10;
    }

    &__menu {
      display: flex;
    }

    &__menuitem:not(:last-child) {
      margin-right: 54px;
    }

    &__menuitem--services {
      display: flex;
      align-items: center;
      position: relative;

      & > .link {
        transition-property: color;
        transition-duration: var(--main-transition-duration);
        transition-timing-function: var(--main-transition-function);
      }

      & > .link:hover,
      & > .link:focus {
        color: var(--accent-color);
      }

      &:hover .arrow-down,
      &:focus .arrow-down {
        display: none;
      }

      &:hover .arrow-up,
      &:focus .arrow-up {
        display: flex;
      }
    }

    &__menulink {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: var(--secondary-font-regular);
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: var(--secondary-color-dark);
      transition-property: color;
      transition-duration: var(--main-transition-duration);
      transition-timing-function: var(--main-transition-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__iconwrapper--menu {
      display: none;
    }

    &__iconwrapper--arrow {
      fill: var(--accent-color);
      margin-left: 4px;
    }

    &__arrow {
      padding-top: 5px;
    }

    &__icontel {
      margin-right: 8px;
    }

    &__wrapper {
      align-items: flex-start;
    }

    &__lang {
      margin-right: 94px;
    }
  }
}
.header--link-current {
  color: var(--accent-color);
}

.arrow-up {
  display: none;
}

.header__lang,
.header__iconwrapper--tel {
  position: relative;
  z-index: 10;
}

.submenu {
  display: none;
  position: absolute;
  width: 144px;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  &__item:first-child {
    margin-top: -6px;
  }

  &__item:not(:last-child) {
    margin-bottom: 6px;
  }

  &__link {
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: var(--secondary-color-dark);
    transition-property: color;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header__menuitem--services:hover > .submenu {
  display: block;
}
