.backdrop {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);
  opacity: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 236px;
  height: 157px;

  &__iconwrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4%;
    left: 95%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    background-color: transparent;
    fill: var(--background-color-white);
    border-radius: 72px 72px;

    z-index: 4;
    transition: background-color 250ms var(--main-transition-function);

    &:hover,
    &:focus {
      cursor: pointer;
      fill: var(--accent-color);
      background-color: var(--secondary-color-dark);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  z-index: 3;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev::before,
.slick-next::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.slick-prev::before {
  transform: rotate(-45deg);
}

.slick-next::before {
  transform: rotate(135deg);
  right: -50px;
}

.slider__item {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 157px;
}

@media screen and (max-width: 768px) {
  .modal__iconwrapper {
    width: 15px;
    height: 15px;
  }

  .modal__icon {
    width: 5px;
    height: 5px;
  }
  .modal__iconwrapper {
    top: 5%;
    left: 90%;
  }
}

@media screen and (min-width: 768px) {
  .modal__iconwrapper {
    width: 25px;
    height: 25px;
    left: 89%;
  }

  .modal {
    width: 554px;
    height: 369px;
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }

  .slick-prev::before,
  .slick-next::before {
    width: 15px;
    height: 15px;
  }

  .slider__item {
    padding-top: 369px;
  }
}

@media screen and (min-width: 1444px) {
  .modal {
    width: 906px;
    height: 605px;
  }

  .slick-prev {
    left: -60px;
  }

  .slick-next {
    right: -60px;
  }

  .slick-prev::before,
  .slick-next::before {
    width: 20px;
    height: 20px;
  }

  .slider__item {
    padding-top: 605px;
  }
}
