.subtitle {
  margin-bottom: 16px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-color-dark);
}
.modelling-hero {
  width: 100%;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-dark);
}

.modelling-hero__right-side {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 36px;
    line-height: 1.25;
  }
  .modelling-hero {
    width: 515px;
  }
}
@media screen and (min-width: 1444px) {
  .subtitle {
    font-size: 48px;
    line-height: 1.25;
  }

  .modelling-wrapper {
    width: 1030px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .modelling-hero {
    font-size: 18px;
    line-height: 1.28;
  }

  .modelling-hero__left-side {
    margin-left: 32px;
  }
}
