.order-form__field {
  margin-bottom: 44px;
  position: relative;
}
.order-form__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42;
  text-transform: capitalize;
  border: none;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  border-color: var(--main-color-dark);
  color: var(--secondary-color-dark);
  outline: 0;
  outline-offset: 0;
}
.order-form__input:focus + .order-form__label,
.order-form__input:not(:placeholder-shown) + .order-form__label {
  transform: translateY(-40px);
  font-size: 14px;
  line-height: 1.42;
}
.order-form__label {
  color: var(--secondary-color-dark);
  font-size: 14px;
  line-height: 1.42;
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.25s linear;
}

.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.order-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
  color: var(--main-color-dark);
  margin-bottom: 28px;
}
.order-form__field {
  margin-bottom: 44px;
  position: relative;
}
.select {
  position: relative;
  border-bottom: 1px solid var(--main-color-dark);
}
.select::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9.5px 0 9.5px;
  border-color: #2b2b2b transparent transparent transparent;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 0;
  margin-top: -6.5px;
  cursor: pointer;
  pointer-events: none;
}

.select select {
  border: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: var(--main-font-regular);
  color: var(--secondary-color-dark);
  font-size: 16px;
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
  padding: 8px 0px;
  display: block;
  width: 100%;
  outline: none;
}
.order-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--main-color-dark);
  padding: 0 0 8px 0;
  outline: none;
}
.order-form__select-option {
  width: 100%;
  padding-left: 19px;
}
.order-form__field_massege {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
  margin-bottom: 4px;
}
.order-form__massege-box {
  position: relative;
}
.form_massege-text {
  margin-bottom: 4px;
}
.order-form__massege {
  border: 1px solid var(--main-color-dark);
  border-radius: 50px 0px;
  width: 100%;
  height: 199px;
  padding: 22px 20px 0 20px;
  resize: none;
  outline: none;
  &::placeholder {
    font-family: var(--main-font-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-light-placeholder);
  }
}
.order-form__message-icon {
  position: absolute;
  display: block;
  width: 22px;
  height: 20px;
  fill: #cdcdcd;
  top: 161px;
  left: 237px;
  cursor: pointer;
}
.order-form__message-icon:hover,
.order-form__message-icon:focus {
  fill: var(--accent-color);
}
.order-form__note {
  font-family: var(--main-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-light-placeholder);
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .order-form {
    padding: 0 114px;
    text-align: center;
  }
  .order-form__title {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 35px;
  }
  .order-form__label {
    font-size: 16px;
    line-height: 1.25;
  }
  .order-form__input:focus + .order-form__label,
  .order-form__input:not(:placeholder-shown) + .order-form__label {
    transform: translateY(-50px);
    font-size: 14px;
    line-height: 1.42;
  }
  .order-form__field_massege {
    text-align: left;
  }
  .order-form__message-icon {
    left: 379px;
  }
  .order-form__note {
    text-align: left;
  }
  .order-form__btn {
    width: 177px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1444px) {
  .container-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1444px;
    padding-left: 189px;
    padding-right: 189px;
  }

  .order-form {
    width: 515px;
    padding: 0;
  }
  .order-form__title {
    font-size: 36px;
    margin-bottom: 44px;
    text-align: left;
  }
  .order-form__input {
    font-size: 18px;
    line-height: 1.11;
  }
  .order-form__message-icon {
    left: 472px;
  }
  .order-form__note {
    margin-bottom: 24px;
  }
  .order-form__field_massege {
    font-size: 18px;
    line-height: 1.11;
  }
  .order-form__massege {
    &::placeholder {
      font-size: 18px;
      line-height: 1.11;
    }
  }
  .order-form__note {
    font-size: 18px;
    line-height: 1.11;
  }
  .order-form__label {
    font-size: 18px;
    line-height: 1.1;
  }
}
.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.order-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
  color: var(--main-color-dark);
  margin-bottom: 28px;
}
.order-form__field {
  margin-bottom: 44px;
}

.select {
  position: relative;
  border-bottom: 1px solid var(--main-color-dark);
}
.select::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9.5px 0 9.5px;
  border-color: #2b2b2b transparent transparent transparent;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 0;
  margin-top: -6.5px;
  cursor: pointer;
  pointer-events: none;
}
.select select {
  border: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: var(--main-font-regular);
  color: var(--secondary-color-dark);
  font-size: 16px;
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
  padding: 8px 0px;
  display: block;
  width: 100%;
  outline: none;
  cursor: pointer;
}
.order-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--main-color-dark);
  padding: 0 0 8px 0;
  outline: none;
  &::placeholder {
    font-family: var(--main-font-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--secondary-color-dark);
  }
}
.order-form__select-option {
  width: 100%;
}
.order-form__field_massege {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
  margin-bottom: 4px;
}
.order-form__massege-box {
  position: relative;
}
.order-form__massege {
  margin-top: 4px;
  border: 1px solid var(--main-color-dark);
  border-radius: 50px 0px;
  width: 100%;
  height: 199px;
  padding: 22px 20px 0 20px;
  resize: none;
  outline: none;
  &::placeholder {
    font-family: var(--main-font-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-light-placeholder);
  }
}
.order-form__message-icon {
  position: absolute;
  display: block;
  width: 22px;
  height: 20px;
  fill: #cdcdcd;
  top: 161px;
  left: 237px;
}
.order-form__message-icon:hover,
.order-form__message-icon:focus {
  fill: var(--accent-color);
}
.order-form__note {
  font-family: var(--main-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-light-placeholder);
  margin-bottom: 24px;
}
/////////////////////////////////////////
@media screen and (min-width: 768px) {
  .order-form {
    padding: 0 114px;
    text-align: center;
  }
  .order-form__title {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 35px;
  }
  .order-form__field_massege {
    text-align: left;
  }
  .order-form__message-icon {
    left: 379px;
  }
  .order-form__note {
    text-align: left;
  }
  .order-form__btn {
    width: 177px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1444px) {
  .order-form {
    width: 515px;
    padding: 0;
  }
  .order-form__title {
    font-size: 36px;
    margin-bottom: 44px;
    text-align: left;
  }
  .order-form__input {
    &::placeholder {
      font-size: 18px;
      line-height: 1.11;
    }
  }
  .order-form__message-icon {
    left: 472px;
  }
  .order-form__note {
    margin-bottom: 24px;
  }
  .order-form__field_massege {
    font-size: 18px;
    line-height: 1.11;
  }
  .order-form__massege {
    &::placeholder {
      font-size: 18px;
      line-height: 1.11;
    }
  }
  .order-form__note {
    font-size: 18px;
    line-height: 1.11;
  }
}

.select-option__item {
  font-family: Cera Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;

  color: #2b2b2b;
  padding-left: 8px;

  &:focus,
  &:hover {
    background-color: rgba(72, 121, 150, 0.5);
    color: #ffffff;
  }
}
